
 <script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/hidden_nyc_station.png",
          "/images/rockefeller2.gif"
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 8000);
    $("#fullpage").fullpage({
      onLeave: function(index, nextIndex, direction){
        if(nextIndex === 1){
          sectionPosition = "top";
        } else if(nextIndex === 2 && sectionPosition === "top"){
          sectionPosition = "bottom";
        }
      },
      onSlideLeave: function( anchorLink, index, slideIndex, direction){
        if(slideIndex === 0){
          slidePosition = 1;
        } else{
          slidePosition = 0;
        }
      },
      fixedElements: '.questions',
      scrollingSpeed: 700,
      resize: false,
      controlArrows: false
    });
    $('.results').hide();
    $.fn.fullpage.setKeyboardScrolling(false);
  });
  </script>
    
 <div id="fullpage">

  <div class="section slideshow">
    <div id='logo' class='row'>
      <div id='logo-background' class='col-xs-4 col-xs-push-4'>
        <h1>Metro<span> </span>Genie</h1>
        <h3>Calculate your fare card now!</h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class='row questions'>
        <div class="col-xs-3">
          <span class='question'>Need new card or refill existing?</span>
          <br>
          <p>
            <input type="radio" name="new-card" value=true checked>New Card
          </p>
          <p>
            <input type="radio" name="new-card" value=false>Refill Card 
          </p>
        </div>
        <div class="col-xs-3">
          <span class='question'>How long will you be using the metro?</span>
          <p>First: <input id='start-date' type='date' name='start_date' autofocus/></p>
          <p>Last: <input id='end-date' type='date' name='end_date' /></p>
        </div>
        <div class="col-xs-3">
          <span class='question'>How many rides per day?</span>
          <p>
          Weekdays: <select id='weekday-rides' name='weekday_rides' >
          <option value='Choose'>Choose</option>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          </select></p>

          <p>Weekends: <select id='weekend-rides' name='weekend_rides' >
          <option value='Choose'>Choose</option>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          </select></p>
        </div>
        <div class="col-xs-3">
          <input id='submit' type='submit' />
        </div>
      </div>
    </div>
          
  </div>
  <div class="section results">

    <div class="first-slide slide">

      <div class="container choices-row">
        <div class="row full-height">
          <div class="col-xs-12 full-height">
            <div class="row">
              <div class="col-xs-6 choice-title"><h1>Option 1</h1></div>
              <div class="col-xs-6 choice-title"><h1>Option 2</h1></div>
            </div>
            <div class="row four-fifths-height left-choices">
            </div>
          </div>          
        </div>
      </div>

    </div>
    <div class="second-slide slide">
        
      <div class="container choices-row">
      <div class="row full-height">
        <div class="col-xs-12 full-height">
          <div class="row">
            <div class="col-xs-6 choice-title"><h1>Option 1</h1></div>
            <div class="col-xs-6 choice-title"><h1>Option 2</h1></div>
          </div>
          <div class="row four-fifths-height right-choices">
            <div class="col-xs-6 right-choice-one full-height"></div>
            <div class="col-xs-6 right-choice-two full-height"></div>
          </div>
        </div>          
      </div>
    </div>

    </div>

  </div>
</div>


<!-- four different templates for four different choice types -->
<script type="template" id='money-choice-template'>
  <div class="col-xs-6 full-height choice">
    <h2>You could buy the exact amount of swipes you need, enough for <%%= rides %> rides, by putting $<%%= total_cost %> on your card.</h2>
  </div>
</script>

<script type="template" id='weekly-choice-template'>
<div class="col-xs-6 full-height choice">
  <h2>For $<%%= total_cost %>, you could buy <%%= weekly %> Weekly Unlimited Passes to cover all of your <%%= rides %> rides. This is a more flexible option, just in case you use more rides than you expected to. </h2>
  <br>
  <h2>Weekly Unlimited Passes begin the first time you swipe them.</h2>
</div>
</script>

<script type="template" id='monthly-choice-template'>
  <div class="col-xs-6 full-height choice">
  <h2>For $<%%= total_cost %>, uou could buy a Monthly Unlimiteds Pass to cover your <%%= rides %> rides. This is a flexible option, just in case you use more rides than you expected to.
  <br></h2>
  <h2>Monthly Unlimited Passes begin the first time you swipe them.</h2>
  </div>
</script>

<script type="template" id='hybrid-choice-template'>
  <div class="col-xs-6 full-height choice">
  <h1>For $<%%= total_cost %>, you could use a combination of Weekly Unlimited Passes and cash.</h1>
  <ul>
    <li><h2>Buy <%%= weekly %> Weekly Unlimited Passes</h2></li>
    <li><h2>Put $<%%= value %> on your card to cover the <%%= final_week_rides %> rides for your final week</h2></li>
    <li><h2>Weekly Unlimited Passes begin the first time you swipe them</h2></li>
  </ul>
  </div>
</script>
