<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/all_the_trains2.jpg",
          "/images/rockefellar2.gif",
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 8000);

  })

</script>

<div class='slideshow col-xs-12' style='height: 600px; background-repeat: no-repeat; background-image: url(/images/rockefellar2.gif); background-size: cover; padding: 0 0;'>
  <div style='height: 25%;'>
  </div>

  <div id='logo' style='height: 45%'>
    <h1>MetroGenie</h1>
    <h3>Calculate your fare card now!</h3>
  </div>

  <div class='row' style='margin-left: 0%; width: 100%; height: 27%; opacity: 0.6; background-color: black;'>
    
    <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
      
    </div>
    <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
    
    </div>
    <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
    
    </div>
    <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
    
    </div>
  </div>
</div>


    
</br></br></br>


<div class="choice-container">
  
</div>

<script type='template' id='choice-view-template'>
  <div class='container' >
    <div class='' >
    <%%= type %></br>
    <%%= weekly %></br>
    <%%= value %></br>
    <%%= total_cost %></br>
      
    </div>
  </div>
</script>
<script src='/javascripts/views/ChoiceView.js'></script>


