<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/times_square2.jpg",
          "/images/rockefellar2.gif",
          "/images/all_the_trains2.jpg",
          "/images/building2.jpg",
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/14subway2.gif"
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 2000);
  })

</script>

<div class='slideshow col-xs-12' style='height: 600px; background-repeat: no-repeat; background: url(/images/rockefellar2.gif); background-size: cover;'>
  <div style='height: 67%; opacity: 0.0; '>
  </div>
  <div style='height: 20%; opacity: 0.6; background-color: black;'>
  </div>
</div>


    
</br></br></br>


<div class="choice-container">
  
</div>

<script type='template' id='choice-view-template'>
  <div class='container' >
    <div class='' >
    <%%= type %></br>
    <%%= weekly %></br>
    <%%= value %></br>
    <%%= total_cost %></br>
      
    </div>
  </div>
</script>
<script src='/javascripts/views/ChoiceView.js'></script>


