<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/hidden_nyc_station.png",
          "/images/rockefeller2.gif"
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 3000);

  })

</script>

<div class='slideshow'>
  <div id='empty-div'>
  </div>

  <div id='logo' class='row'>

    <div id='logo-background' class='col-xs-4 col-xs-push-4'>
      <h1>Metro<span> </span>Genie</h1>
      <h3>Calculate your fare card now!</h3>
    </div>
  </div>
  <div class='form-div' class='row'>    
    <div id='form-div-1' class='col-xs-6 col-sm-3'>
      <h1 class='question'>Do you already have a card?</h1>
    </div>

    <div id='form-div-2' class='col-xs-6 col-sm-3'>
        <span class='question'>How long will you be using the metro?</span>
        <form id='user-questions' action='/calculate' method='post'>

        <!-- each button calls a separate function with nearly identical ajax requests that differ only in that the data hash will have different values (true vs false) for the parameter "has_card" -->


        <p>First: <input id='start-date' type='date' name='start_date' autofocus/></p>



        <p>Last: <input id='end-date' type='date' name='end_date' /></p>
    </div>

    <div id='form-div-3' class='col-xs-6 col-sm-3'>
        <span class='question'>How many rides per day?</span>
        <p>
        Weekdays: <select id='weekday-rides' name='weekday_rides' >
        <option value='Choose'>Choose</option>
        <option value='0'>0</option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        </select></p>

        <p>Weekends: <select id='weekend-rides' name='weekend_rides' >
        <option value='Choose'>Choose</option>
        <option value='0'>0</option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        </select></p>
    </div>

    <div id='form-div-4' class='col-xs-6 col-sm-3'>
        <input id='submit' type='submit' />
    </div>
  </div>
    
</br></br></br>
<!-- choices render here -->
<div class='row' style='height: 50vh;'>
  <div class="col-xs-8 col-xs-push-2 full-height">
    <div class="row borders full-height">
      <!-- first choice  -->
      <div class="col-xs-5 full-height">
        <div class="row fifteen-height">
          <div class="col-xs-12 card-slot">Total Cost</div>
        </div>
        <div class="row fifteen-height">
          <div class="col-xs-12 card-slot">Money on Card</div>
        </div>
        <div class="row fifteen-height">
          <div class="col-xs-12 card-slot">Weekly</div>
        </div>
        <div class="row fifteen-height bottom-border">
          <div class="col-xs-12 card-slot">Monthly</div>
        </div>
        <div class="row" style='height: 40%;'></div>
      </div>
      <div class="col-xs-2 full-height">
        <!-- total costs -->
        <div class="row fifteen-height bottom-border">
          <div class="col-xs-6 full-height right-border"></div>
          <div class="col-xs-6 full-height left-border"></div>
        </div>
        <!-- breakdown of individual costs -->
        <div class="row" style='height: 60%;'>
          <div class="col-xs-6 full-height right-border">
          </div>
          <div class="col-xs-6 full-height left-border">
          </div>
        </div>
      </div>
      <!-- second choice -->
      <div class="col-xs-5 full-height">
        <div class="row fifteen-height" style='background-color: rgba(209, 2, 157, .6);'>
          <div class="col-xs-12 card-slot">Total Cost</div>
        </div>
        <div class="row fifteen-height" style='background-color: rgba(237, 193, 17, .4);'>
          <div class="col-xs-12 card-slot">Money on Card</div>
        </div>
        <div class="row fifteen-height" style='background-color: rgba(78, 212, 96, .4);'>
          <div class="col-xs-12 card-slot">Weekly</div>
        </div>
        <div class="row fifteen-height bottom-border" style='background-color: rgba(195, 46, 232, .4);'>
          <div class="col-xs-12 card-slot">Monthly</div>
        </div>
        <div class="row" style='height: 40%;'></div>
      </div>
    </div>
  </div>
</div>


<script type='template' id='choice-view-template'>

  <div class='row' style='border: 2px solid black; margin-top: 45vh; height: 40vh; background-color: blue;'>
    <div class='col-xs-4' style='border: 2px solid black; height: 100%;'>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Type: <%%= type %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Weekly: <%%= weekly %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Value: <%%= value %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Total Cost: <%%= total_cost %>
        </div>
      </div>
    </div>
      <div class='col-xs-1' style='height: 80%; border: 2px solid black;'>
        <div class='row' style='height: 100%;'>
          <div class='col-xs-12' style='height: 75%; border: 2px solid black;'>
          </div>
          <div class='col-xs-12' style='height: 25%; border: 2px solid black;'>
          </div>
        </div>
      </div>
  </div>
</script>