<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/rockefeller2.gif",
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 3000);

  })

</script>

<div class='slideshow'>
  <div id='empty-div'>
  </div>

  <div id='logo' class='row'>
    <div id='logo-background' class='col-xs-4 col-xs-push-4'>
      <h1>MetroGenie</h1>
      <h3>Calculate your fare card now!</h3>
    </div>
  </div>

  <div class='form-div' class='row'>
    
    <div id='form-div-1' class='col-xs-6 col-sm-3'>
      <h1 class='question'>Do you already have a card?</h1>
    </div>

  <div id='form-div-2' class='col-xs-6 col-sm-3'>
      <p class='question'>How long will you be using the metro?</p>
      <form id='user-questions' action='/calculate' method='post'>

      <!-- each button calls a separate function with nearly identical ajax requests that differ only in that the data hash will have different values (true vs false) for the parameter "has_card" -->


      <p>First: <input id='start-date' type='date' name='start_date' autofocus/></p>



      <p>Last: <input id='end-date' type='date' name='end_date' /></p>
  </div>

  <div id='form-div-3' class='col-xs-6 col-sm-3'>
      <p class='question'>How many rides per day?</p>
      <p>
      Weekdays: <select id='weekday-rides' name='weekday_rides' >
      <option value='Choose'>Choose</option>
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      </select></p>

      <p>Weekends: <select id='weekend-rides' name='weekend_rides' >
      <option value='Choose'>Choose</option>
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      </select></p>
  </div>

  <div id='form-div-4' class='col-xs-6 col-sm-3'>
      <input id='submit' type='submit' />
  </div>
</div>


<div class="choice-container">
  
</div>

<script type='template' id='choice-view-template'>
  <div class='container' >
    <div class='' >
    <%%= type %></br>
    <%%= weekly %></br>
    <%%= value %></br>
    <%%= total_cost %></br>
      
    </div>
  </div>
</script>
<script src='/javascripts/views/ChoiceView.js'></script>