 <!-- MANINI!!!!! Can you read this? -->


 <script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/hidden_nyc_station.png",
          "/images/rockefeller2.gif"
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 8000);
    $("#fullpage").fullpage({
      onLeave: function(index, nextIndex, direction){
        if(nextIndex === 1){
          sectionPosition = "top";
        }
      },
      fixedElements: '.questions',
      scrollingSpeed: 700,
      resize: false,
      controlArrows: false
    });
    $('.results').hide();
    $.fn.fullpage.setKeyboardScrolling(false);
  });
  </script>
    
 <div id="fullpage">

  <div class="section slideshow">
    <div id='logo' class='row'>
      <div id='logo-background' class='col-xs-4 col-xs-push-4'>
        <h1>Metro<span> </span>Genie</h1>
        <h3>Calculate your fare card now!</h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class='row questions'>
        <div class="col-xs-3">
          <span class='question'>Need new card or refill existing?</span>
          <br>
          <p>
            <input type="radio" name="new-card" value=true checked>New Card
          </p>
          <p>
            <input type="radio" name="new-card" value=false>Refill Card 
          </p>
        </div>
        <div class="col-xs-3">
          <span class='question'>How long will you be using the metro?</span>
          <p>First: <input id='start-date' type='date' name='start_date' autofocus/></p>
          <p>Last: <input id='end-date' type='date' name='end_date' /></p>
        </div>
        <div class="col-xs-3">
          <span class='question'>How many rides per day?</span>
          <p>
          Weekdays: <select id='weekday-rides' name='weekday_rides' >
          <option value='Choose'>Choose</option>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          </select></p>

          <p>Weekends: <select id='weekend-rides' name='weekend_rides' >
          <option value='Choose'>Choose</option>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
          <option value='9'>9</option>
          </select></p>
        </div>
        <div class="col-xs-3">
          <input id='submit' type='submit' />
        </div>
      </div>
    </div>
          
  </div>
  <div class="section results">

    <div class="slide" style='background-color: blue;'>
    </div>
    <div class="slide" style='background-color: red;'></div>

  </div>
</div>

<!-- choices container will be populated by choices -->
<!-- <div class="row" style='height: 10vh;'> -->
  <!-- <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1"> -->
    <!-- <div class="row" id='choices-container' > -->
      
    <!-- </div> -->
  <!-- </div> -->

<!-- four different templates for four different choice types -->
<script type="template" id='money-choice-template'>
  <div class="col-xs-6" id="money-choice">
    Type: <%%= type %>
    <br>
    Total Rides: <%%= rides %>
    <br>
    Cost: <%%= total_cost %>
  </div>
</script>

<script type="template" id='weekly-choice-template'>
  <div class="col-xs-6" id="weekly-choice">
    Type: <%%= type %>
    <br>
    Final Week Rides: <%%= final_week_rides %>
    <br>
    Total Rides: <%%= rides %>
    <br>
    Weekly Unlimiteds: <%%= weekly %>
    <br>
    Cost: <%%= total_cost %>
  </div>
</script>

<script type="template" id='monthly-choice-template'>
  <div class="col-xs-6" id="monthly-choice">
    Type: <%%= type %>
    <br>
    Total Rides: <%%= rides %>
    <br>
    Cost: <%%= total_cost %>
  </div>
</script>

<script type="template" id='hybrid-choice-template'>
  <div class="col-xs-6" id="hybrid-choice">
    Type: <%%= type %>
    <br>
    Total Rides: <%%= rides %>
    <br>
    Final Week Rides: <%%= final_week_rides %>
    <br>
    Weekly Unlimiteds: <%%= weekly %>
    <br>
    Value on card for final week: <%%= value %>
    <br>
    Total Cost: <%%= total_cost %>
  </div>
</script>
