<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/all_the_trains2.jpg",
          "/images/rockefellar2.gif",
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 3000);

  })

</script>

<div class='slideshow col-xs-12' style='height: 80vh; background-repeat: no-repeat; background-image: url(/images/rockefellar2.gif); background-size: cover; padding: 0 0;'>
  <div style='height: 12%;'>
  </div>

  <div id='logo' class='row' style='height: 58%'>
    <div id='logo-background' class='col-xs-4 col-xs-push-4'>
      <h1>MetroGenie</h1>
      <h3>Calculate your fare card now!</h3>
    </div>
  </div>
<!-- four squares containing form information -->
  <div class='row' id='form-bar'>
    
    <div class='col-xs-6 col-sm-3 full-height center-text oj-border'>
      
    </div>
    <div class='col-xs-6 col-sm-3 full-height center-text oj-border'>
    
    </div>
    <div class='col-xs-6 col-sm-3 full-height center-text oj-border'>
    
    </div>
    <div class='col-xs-6 col-sm-3 full-height center-text oj-border'>
    
    </div>
  </div>
</div>


    
</br></br></br>
<!-- choices render here -->
<div class='row' style='height: 50vh;'>
  <div class="col-xs-8 col-xs-push-2 full-height borders">
    <div class="row full-height">
      <div class="col-xs-5 full-height borders">
      </div>
      <div class="col-xs-2 full-height borders">
        <div class="row" style='height: 20%;'>
          <div class="col-xs-6 full-height top-border"></div>
          <div class="col-xs-6 full-height top-border"></div>
        </div>
        <div class="row" style='height: 60%;'>
          <div class="col-xs-6 full-height borders">
          </div>
          <div class="col-xs-6 full-height borders">
          </div>
        </div>
      </div>
      <div class="col-xs-5 full-height borders">
      </div>
    </div>
  </div>
</div>




<script type='template' id='choice-view-template'>

  <div class='row' style='border: 2px solid black; margin-top: 45vh; height: 40vh; background-color: blue;'>
    <div class='col-xs-4' style='border: 2px solid black; height: 100%;'>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Type: <%%= type %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Weekly: <%%= weekly %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Value: <%%= value %>
        </div>
      </div>
      <div class='row' style='height: 20%;'>
        <div class='col-xs-12' style='border: 2px solid black; height: 100%;'>
          Total Cost: <%%= total_cost %>
        </div>
      </div>
    </div>
      <div class='col-xs-1' style='height: 80%; border: 2px solid black;'>
        <div class='row' style='height: 100%;'>
          <div class='col-xs-12' style='height: 75%; border: 2px solid black;'>
          </div>
          <div class='col-xs-12' style='height: 25%; border: 2px solid black;'>
          </div>
        </div>
      </div>
  </div>
</script>

<div class="choice-container">
  
</div>

<script type='template' id='choice-view-template'>
  <div class='container' >
    <div class='' >
    <%%= type %></br>
    <%%= weekly %></br>
    <%%= value %></br>
    <%%= total_cost %></br>
      
    </div>
  </div>
</script>
<script src='/javascripts/views/ChoiceView.js'></script>


