<script>
  $(function(){
    var imageIndex = 0,
        imageArray = [
          "/images/seeingNY2.gif",
          "/images/subwaynewspaper2.gif",
          "/images/building2.jpg",
          "/images/times_square2.jpg",
          "/images/14subway2.gif",
          "/images/all_the_trains2.jpg",
          "/images/rockefeller2.gif",
        ];
    changeBackground = function changeBackground(){
      var index = imageIndex++ % imageArray.length;
      $('.slideshow').css({
        'background-image': "url('" + imageArray[index] + "')",
        'background-repeat' : 'no-repeat', 
        'background-size' : 'cover'
      })
    };
    setInterval(changeBackground, 8000);

  })

</script>

<div class='slideshow col-xs-12' style='height: 600px; background-repeat: no-repeat; background-image: url(/images/rockefeller2.gif); background-size: cover; padding: 0 0;'>
  <div style='height: 15%;'>
  </div>

  <div id='logo' class='row' style='height: 60%'>
    <div id='logo-background' class='col-xs-4 col-xs-push-4'>
      <h1>MetroGenie</h1>
      <h3>Calculate your fare card now!</h3>
    </div>
  </div>

  <div class='row' style='margin-left: 0%; width: 100%; height: 27%; opacity: 0.6; background-color: black;'>
    
    <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
      <div id='card-select-container'>
        <div id='card-options-container'>
          <div class='card-selector-div'></div>
          <div class='card-selector-div' id='two-borders'><span id='new-card' class='card-selector'>New</span></div>
          <div class='card-selector-div'><span id='refill-card' class='card-selector'>Refill</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
      <p>How long will you be using the metro?</p>
      <form id='user-questions' action='/calculate' method='post'>

      <!-- each button calls a separate function with nearly identical ajax requests that differ only in that the data hash will have different values (true vs false) for the parameter "has_card" -->


      <p>First: <input id='start-date' type='date' name='start_date' autofocus/></p>



      <p>Last: <input id='end-date' type='date' name='end_date' /></p>
  </div>

  <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
      <p>How many rides per day?</p>
      <p>
      Weekdays: <select id='weekday-rides' name='weekday_rides' >
      <option value='Choose'>Choose</option>
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      </select></p>

      <p>Weekends: <select id='weekend-rides' name='weekend_rides' >
      <option value='Choose'>Choose</option>
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      </select></p>
  </div>

  <div class='col-xs-6 col-sm-3' style='border: 2px solid orange; height: 100%; text-align: center;'>
      <input id='submit' type='submit' />
  </div>
</div>

<div class="choice-container">
  
</div>

<script type='template' id='choice-view-template'>
  <div class='container' >
    <div class='' >
    <%%= type %></br>
    <%%= weekly %></br>
    <%%= value %></br>
    <%%= total_cost %></br>
      
    </div>
  </div>
</script>
<script src='/javascripts/views/ChoiceView.js'></script>