<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MetroGenie</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="'/stylesheets/lib/jquery.bxslider.css'">
  <script src='/javascripts/lib/underscore.js'></script>
  <script src='/javascripts/lib/jquery.js'></script>
  <script src='/javascripts/lib/backbone.js'></script>
  <script src='/javascripts/lib/jquery.bxslider.js'></script>
  <script src='/javascripts/lib/d3.js'></script>
  <script src='/javascripts/scripts.js'></script>

  <script src='/javascripts/bxslider.js'></script>
</head>
<body>

  <%= yield %>
  
</body>
</html>