<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MetroGenie</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/lib/normalize.css">
  <link rel="stylesheet" href="/stylesheets/lib/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
  <script src='/javascripts/lib/underscore.js'></script>
  <script src='/javascripts/lib/jquery.js'></script>
  <script src='/javascripts/lib/backbone.js'></script>
  <script src="/javascripts/lib/easing.js"></script>
  <script src="/javascripts/lib/fitvids.js"></script>
  <script src='/javascripts/lib/d3.js'></script>
  <script src='/javascripts/lib/bootstrap.min.js'></script>
  <script src='/javascripts/scripts.js'></script>
  <script src='/javascripts/models/Choice.js'></script>
  <script src='/javascripts/collections/ChoiceList.js'></script>
  <script src='/javascripts/views/ChoiceListView.js'></script>
  <script src='/javascripts/new_card_select.js'></script>
</head>
<body>

  <%= yield %>
  
</body>
</html>