#logo {
  color: lightblue;
  text-shadow: 1px 1px white;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 35px;
  padding-top: 120px;
}

h6 {
  margin-top: -50px;
  color: white;
  font-family: arial;
  text-shadow: 1px 1px black;
}

.slideshow {
  transition: background-image 1s ease-in-out;
}