.slideshow {
  transition: background-image 1s ease-in-out;
}

#logo {
  font-family: Helvetica;
  text-align: center;
  color: lightblue;
  text-shadow: 2px 2px black;
}

#logo h1 {
  font-size: 60px;
  font-weight: 900;
}

#logo h3 {
  color: white;
}

#logo-background {
  background-color: rgba(125, 125, 130, 0.4);
  border-radius: 20px;
}

.full-height {
  height: 100%;
}

.borders {
  border: 2px solid black;
}

.top-border {
  border-top: 2px solid black;
}